# Data Types and Structures Questions

In [ ]:
# 1. What are data structures, and why are they important?
"""
In python data structures are the way of organizing and storing data to efficiently use and manipulate data.
Importance of data Structures
    -They help in organizing data efficiently.
    -Accessing data becomes efficient
"""

In [ ]:
#  2.  Explain the difference between mutable and immutable data types with examples?
"""
Data Types which can be changed once they are created are mutable datatypes and data types which cannot be changed once they 
are created are immutable data types.
Example : 
    - mutable data types : list, dictonary, sets
    - immutable data types : string, tuple

"""

In [ ]:
# 3. What are the main differences between lists and tuples in Python?
"""
Difference between lists and typle in python is : 
    - Lists are mutable and tuples are immutable
    - Lists are initialized as l = [] and tuples are initialized as t = ()
    
"""

In [ ]:
# 4.  Describe how dictionaries store data?
"""
Dictonaries stores data in key-value pair
Eg : d - {
    "name" : "Aditya",
    "Age" : 23
}
"""

In [ ]:
# 5.  Why might you use a set instead of a list in Python?
"""
1. When we want only distinct elements.
2. When we want to perform sets operations finding unique, union, symmetric_difference, difference

"""

In [ ]:
# 6. What is a string in Python, and how is it different from a list?
"""
In python string is a data structure which is used to store characters.
Difference in list and string:
    - String is immutable and list is mutable
    - String stores only textual data and list can store all types of data
"""

In [ ]:
# 7. How do tuples ensure data integrity in Python?
"""
tuple ensure data integrity:
    - tuple is immutable. 
    - Maintaining a consistent structure.
"""

In [ ]:
# 8. What is a hash table, and how does it relate to dictionaries in Python?
"""
A hash table is a data structure that maps keys to values using a hash function, and in Python, the built-in 
dictionary (dict) is implemented using a hash table for fast key-based access.
"""

In [ ]:
# 9. Can lists contain different data types in Python?
"""
Yes, lists can store different data type
"""

In [1]:
# Example
l = ['a',1,2.9,True,3+4j]
l

['a', 1, 2.9, True, (3+4j)]

In [ ]:
# 10. Explain why strings are immutable in Python?
"""
Strings are immutable in Python because once a string is created,
its contents cannot be changed.
"""

In [1]:
# 11. What advantages do dictionaries offer over lists for certain tasks?
"""
Dictonaries can store key value pairs which lists dont. Because of key value pairs 
the searching operations become more fast as we can search directly based on keys
rather than searching for indexes to find an item.
"""

In [ ]:
# 12.  Describe a scenario where using a tuple would be preferable over a list?
"""
As tuple is immutable it is more prefered to store unchangable data
like storing aadhar number, bank account number,etc.
"""

In [2]:
# 13. How do sets handle duplicate values in Python?
"""
Sets dont handle any multiple values as they store only unique values.
even if the multiple same items are sent it only stores them
one time
"""

# Example

s = {1,2,1,2,3,2,1,3}
s

{1, 2, 3}

In [8]:
# 14. How does the “in” keyword work differently for lists and dictionaries?
"""
For dictonaries "in" keyword looke for keys and in Lists "in"
keyword looks for values
"""
lst = [1,2,3]
data = {"name": "Aditya", "age": 22}
print(2 in lst)
print("name" in data)     #True – checks if key "name" exists
print("Aditya" in data)   # False – doesn't check values

True
True
False

In [ ]:
# 15. Can you modify the elements of a tuple? Explain why or why not?
"""
No, we cannot modify the elements of a tuple as tuples are immutable.
"""

In [10]:
# 16.What is a nested dictionary, and give an example of its use case?
"""
A dictonary defined inside a dictonary is nested dictonary.
"""
# example :
students = {
     "101": {"name": "Aditya", "age": 22, "grade": "A"},
    "102": {"name": "Riya", "age": 21, "grade": "B"}

}
print(students["101"]["name"])

"""
It is used to represent complex data like json, hierarchical data
"""

Aditya

In [ ]:
# 17. Describe the time complexity of accessing elements in a dictionary?
"""
Accessing elements in a dictionary has a time complexity of O(1)
"""

In [ ]:
# 18. In what situations are lists preferred over dictionaries?
"""
Situations where lists are prefered over dictonaries:
    - Duplicates are allowed
    - Labels of values doesnt matter
"""

In [ ]:
# 19. Why are dictionaries considered unordered, and how does that affect data retrieval?
"""
Dictionaries were traditionally considered unordered because they
didn’t preserve the insertion order of keys 
Retrieval is key-based, not position-based—so you must know the
key to access data.
"""

In [ ]:
# 20. Explain the difference between a list and a dictionary in terms of data retrieval?
"""
In dictonary we access data by its key and in list we access 
data based on its index
"""

# Practical Questions

In [11]:
# 1. Write a code to create a string with your name and print it?
name = "Aditya Joshi"
print(name)

Aditya Joshi

In [12]:
# 2. Write a code to find the length of the string "Hello World"?
st = "Hello World"
print(len(st))

11

In [13]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"?
st2 = "Python Programming"
print(st2[:3])

Pyt

In [14]:
# 4. Write a code to convert the string "hello" to uppercase?
st3 = "hello"
st3.upper()

'HELLO'

In [16]:
# 5.Write a code to replace the word "apple" with "orange" in the string "I like apple"?
st4 = "I like apple"
st4 = st4.replace("apple","orange")
print(st4)

I like orange

In [17]:
# 6. Write a code to create a list with numbers 1 to 5 and print it?
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [19]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]?
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [20]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
lst2 =  [1, 2, 3, 4, 5]
lst2.remove(3)
print(lst2)

[1, 2, 4, 5]

In [21]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
lst3 = ['a', 'b', 'c', 'd']
lst3[1]

'b'

In [24]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]?
lst4 = [10, 20, 30, 40, 50]
lst4.reverse()
print(lst4)

[50, 40, 30, 20, 10]

In [26]:
# 11. Write a code? to create a tuple with the elements 100, 200, 300 and print it?
tup = (100,200,300)
print(tup)

(100, 200, 300)

In [28]:
# 12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tup2 = ('red', 'green', 'blue', 'yellow')
tup2[-2]

'blue'

In [30]:
# 13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15)?
tup3 = (10, 20, 5, 15)
min(tup3)

5

In [32]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?
tup4 = ('dog', 'cat', 'rabbit')
tup4.index('cat')

1

In [33]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?

fruits = ("apple", "banana", "orange")

print("kiwi" in fruits)

False

In [34]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it?
set1 = {'a', 'b', 'c'}
print(set1)

{'a', 'b', 'c'}

In [35]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [37]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}
set2 = {1, 2, 3, 4}
set2.remove(4)
print(set2)

{1, 2, 3}

In [38]:
# 19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set3 = {1, 2, 3} 
set4 = {3, 4, 5}
print(set3 | set4)

{1, 2, 3, 4, 5}

In [39]:
# 20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set5 = {1, 2, 3} 
set6 = {2, 3, 4}
print(set5 & set6)

{2, 3}

In [40]:
# 21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict1 = {
    "name" : "Aditya",
    "Age" : 22,
    "city" : "Pune"
}
print(dict1)

{'name': 'Aditya', 'Age': 22, 'city': 'Pune'}

In [41]:
# 22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict2 = {'name': 'John', 'age': 25}
dict2['country'] = "USA"
print(dict2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [42]:
# 23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict3 = {'name': 'Alice', 'age': 30}
print(dict3['name'])

Alice

In [43]:
# 24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict4.pop('age')
print(dict4)

{'name': 'Bob', 'city': 'New York'}

In [44]:
# 25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict5 = {'name': 'Alice', 'city': 'Paris'}
print('city' in dict5)

True

In [45]:
# 26.  Write a code to create a list, a tuple, and a dictionary, and print them all.
l = [1,2,3]
t = [4,5,6]
d = {"name" : "Aditya", "Age" : 22}
print("List: ",l)
print("Tuple: ", t)
print("Dictonary: ", d)

List:  [1, 2, 3]
Tuple:  [4, 5, 6]
Dictonary:  {'name': 'Aditya', 'Age': 22}

In [47]:
# 27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)?
numbers = [42, 7, 89, 23, 16]
numbers.sort()
print(numbers)

[7, 16, 23, 42, 89]

In [48]:
# 28.  Write a code to create a list with strings and print the element at the third index.
l2 = ["Apple", "Orange", "Banana", "Grapes", "Kiwi"]
l2[3]

'Grapes'

In [49]:
# 29.  Write a code to combine two dictionaries into one and print the result
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [50]:
# 30.  Write a code to convert a list of strings into a set.
l = ["apple", "banana", "apple", "orange"]
s = set(l)
print(s)

{'banana', 'orange', 'apple'}